@import 'shared';

:root {
  color: $black;
  background-color: $page-bg-color;
}

html {
  box-sizing: border-box;
  font-size: 10px;
  font-family: $generic-fonts;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: px(16);
  word-break: normal;
}

#root {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100vh;
  background-color: $page-bg-color;
  z-index: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

main {
  min-height: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

a:focus-visible,
button:focus-visible,
select:focus-visible {
  outline: 2px solid $black;
  outline-offset: 3px;
}
