$white: #fff;
$black: #000;
$page-bg-color: $white;
$generic-fonts:
  ui-sans-serif,
  system-ui,
  -apple-system,
  'BlinkMacSystemFont',
  'Segoe UI',
  sans-serif;
$navbar-height-mobile: 4rem;

@function px($value) {
  @return $value * 0.1rem;
}

@mixin reset-button {
  display: inline-block;
  padding: 0;
  border: 0;
  margin: 0;
  outline: 0;
  appearance: none;
  background: transparent;
  color: inherit;
  cursor: pointer;
  font: inherit;
  letter-spacing: inherit;
  text-align: inherit;
  text-decoration: none;
  text-transform: inherit;
}
