@import 'shared';

.Landing {
  > .hero {
    width: 100%;
    color: $black;
    max-width: px(800);
    margin: 0 auto;

    > .title {
      font-family: WorkSansSemiBold;
      width: 100%;
      padding-top: px(80);
      padding-bottom: px(24);
      @include font-size(36, 45, 1);
      margin: 0 auto;
    }

    > .row {
      text-align: left;
      margin: px(20) auto;
      display: flex;
      flex-direction: column;

      > li {
        width: 100%;
        margin-bottom: 0.5em;

        a {
          color: blue;
        }
      }
    }
  }
}
