@import '../../styles/shared.scss';

@mixin font-type {
  white-space: nowrap;
  font-size: 6vw;
  line-height: 1.2;
  font-weight: 600;
  padding: 1vh 1vw;
  text-transform: uppercase;
}

.About {
  --color-border: #{$black};
  --menu-focus: #{$black};
  --color-link: #{$black};
  --marquee-bg: #{$black};
  --marquee-text: #{$white};

  > .title {
    margin: 0;
    width: 100%;
    padding-top: px(80);
    @include font-size(36, 45, 1);
  }

  .container {
    border: 1px solid black;
  }

  .item {
    cursor: default;
    position: relative;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 -1px var(--color-border);

    &:last-child {
      box-shadow: 0 1px var(--color-border), 0 -1px var(--color-border);
    }

    .itemLink {
      @include font-type;
      display: block;
      position: relative;
      cursor: pointer;
      text-decoration: none;

      &:focus,
      &:focus-visible {
        color: var(--menu-focus);
      }

      &:focus:not(:focus-visible) {
        color: var(--color-link);
      }
    }

    .marquee {
      @include position-100(absolute);
      pointer-events: none;
      background-color: var(--marquee-bg);
      transform: translate3d(0, 101%, 0);
      overflow: hidden;

      .marqueeInnerWrap {
        height: 100%;
        width: 100%;
        transform: translate3d(0, -101%, 0);

        .marqueeInner {
          height: 100%;
          width: fit-content;
          align-items: center;
          display: flex;
          position: relative;
          animation: marquee 15s linear infinite;
          will-change: transform;

          span {
            @include font-type;
            text-align: center;
            color: var(--marquee-text);
          }

          img {
            width: 15vw;
            height: 70%;
            margin: 0 2vw;
            border-radius: 5vw;
            background-size: cover;
            background-position: 50% 50%;
            object-fit: cover;
          }
        }
      }
    }
  }
}

@keyframes marquee {
  100% {
    transform: translate3d(-50%, 0, 0);
  }
}
