@import 'shared';

.Nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 px(20);
  border-bottom: 1px solid rgba($black, 0.3);
  background-color: $white;
  @include z-index(main-nav);
  @include flex-center-vert;
  height: $navbar-height-mobile;

  @include breakpoint(desktopSm) {
    height: $navbar-height-desktop;
  }
}
