@import 'shared';

.Nav {
  position: fixed;
  top: px(5);
  left: px(5);
  width: fit-content;
  padding: 0 px(15);
  @include z-index(main-nav);
  @include flex-center;
  height: $navbar-height-mobile;
  background-color: var(--yellow6);
  border: 2px solid rgba($black, 0.9);

  @include breakpoint(desktopSm) {
    height: $navbar-height-desktop;
  }

  a {
    @include flex-center-vert;

    svg {
      width: px(20);
      height: px(20);
    }
  }
}
