@import 'shared';

.root {
  position: fixed;
  top: px(16);
  left: px(16);
  display: grid;
  width: px(36);
  height: px(36);
  border: 1px solid $black;
  border-radius: px(8);
  background-color: $white;
  color: $black;
  place-items: center;
  z-index: 1;

  a {
    display: grid;
    width: 100%;
    height: 100%;
    place-items: center;
    transition:
      background-color 160ms ease,
      color 160ms ease;

    &:hover,
    &:focus-visible {
      background-color: $black;
      color: $white;
    }

    &:focus-visible {
      outline-offset: px(3);
    }
  }

  svg {
    width: px(16);
    height: px(16);
    fill: currentcolor;
    stroke: currentcolor;
    stroke-linejoin: round;
    stroke-width: 1.5;
  }
}
